@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5faff;
  color: #001833;
}

.wallpaper-home {
  background-image: url('../images/cvindex.jpg');
  background-size: cover;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.wallpaper-mapa {
  background-image: url('../images/cvmap.jpg');
  background-size: cover;  
  background-attachment: fixed;
  background-position: center -100px;
  background-repeat: no-repeat;
}

.wallpaper-actualizacion {
  background-image: url('../images/cvactualizacion.jpg');
  background-size: cover;  
  background-attachment: fixed;
  background-position: center -100px;
  background-repeat: no-repeat;
}

.wallpaper-integrantes {
  background-image: url('../images/cvintegrantes.webp');
  background-size: cover;  
  background-attachment: fixed;
  background-position: center -300px;
  background-repeat: no-repeat;
}

.wallpaper-objetivo {
  background-image: url('../images/cvobjetivo.webp');
  background-size: cover;  
  background-attachment: fixed;
  background-position: center -300px;
  background-repeat: no-repeat;
}

.wallpaper-publicaciones {
  background-image: url('../images/cvpublicaciones.webp');
  background-size: cover;  
  background-attachment: fixed;
  background-position: center -400px;
  background-repeat: no-repeat;
}

/* HAMBURGER MENU */
.toggle-menu-icon {
  height: 50px;
  width: 50px;
  position: relative;
}

.first-bar,
.second-bar,
.third-bar {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  transition: transform 0.2s;
}

.first-bar {
  top: 15px;
}

.second-bar {
  top: 25px;
}

.third-bar{
  top: 35px;
}

.show-first-bar {
  transform: rotate(-45deg);
  top: 1.5rem;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  transition: transform 0.2s;
}

.show-second-bar {
  width: 0;
}

.show-third-bar {
  transform: rotate(45deg);
  top: 1.5rem;
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #000;
  border-radius: 10px;
  transition: transform 0.2s;
}